<html lang="en">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>

<body>

<footer class="footer bg-light" th:fragment="footer">
    <span class="text-secondary">
        <p style="margin-left: 25px"
           th:text="#{footer.text}">Footer text</p>
    </span>
</footer>

<div th:if="${errorMessage}" id="errorModal" class="error-modal">
    <span id="closeSpan" class="close-error-modal">&times;</span>
    <div class="error-modal-content">
        <p class="error-message" th:text="${errorMessage}"></p>
    </div>
    <script>
        var modal = document.getElementById("errorModal");
        var span = document.getElementById("closeSpan");

        span.onclick = function () {
            modal.style.display = "none";
        }
    </script>
</div>

</body>
</html>
