<html lang="en">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a th:text="#{nav.home}" class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a th:text="#{nav.teachers}" class="nav-link" href="/teachers">Teachers</a>
            </li>
            <li class="nav-item">
                <a th:text="#{nav.groups}" class="nav-link" href="/groups">Groups</a>
            </li>
            <li class="nav-item">
                <a th:text="#{nav.subjects}" class="nav-link" href="/subjects">Subjects</a>
            </li>
            <li class="nav-item">
                <a th:text="#{nav.journals}" class="nav-link" href="/journals">Journals</a>
            </li>
            <li class="nav-item">
                <a th:text="#{nav.logout}" class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<footer class="footer bg-dark" th:fragment="footer">
    <span class="text-light">
        <p style="margin-left: 25px"
           th:text="|${@environment.getProperty('app.name')} ${@environment.getProperty('app.version')}|">App info</p>
    </span>
</footer>

<div th:if="${errorMessage}" id="errorModal" class="error-modal">
    <span id="closeSpan" class="close-error-modal">&times;</span>
    <div class="error-modal-content">
        <p class="error-message" th:text="${errorMessage}"></p>
    </div>
    <script>
        var modal = document.getElementById("errorModal");
        var span = document.getElementById("closeSpan");

        span.onclick = function () {
            modal.style.display = "none";
        }
    </script>
</div>

</body>
</html>
