<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>Bu groups</title>
</head>
<body>

<nav th:replace="~{fragments/navbar::navbar}"></nav>

<div id="groupsContainer" class="container">
    <table class="table caption-top">
        <caption th:text="#{caption.table.groups}">List of groups</caption>
        <thead class="table-light">
        <tr>
            <th th:text="#{group.name}">Group name</th>
            <th th:text="#{group.curator}">Curator</th>
            <th th:text="#{label.table.column.actions}">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="group : ${groups}" th:with="curator=${@teacherService.findByNullableId(group.curatorId)}">
            <td th:text="${group.name}">Name</td>
            <td th:text="${curator} == null ? #{text.curator.empty} : |${curator.lastName} ${curator.firstName} ${curator.patronymic}|">
                Last name
            </td>
            <td>
                <a href="#" class="icon-link" th:href="@{/groups/__${group.id}__}">
                    <i class="material-icons show-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                       th:title="#{tooltip.icon.show}">visibility</i>
                </a>
                <a sec:authorize="hasAuthority('ADMIN')" href="#" class="icon-link" th:href="@{groups/__${group.id}__/draft}">
                    <i class="material-icons edit-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                       th:title="#{tooltip.icon.edit}">edit</i>
                </a>
                <a sec:authorize="hasAuthority('ADMIN')" href="#" class="icon-link" th:href="@{groups/__${group.id}__/delete}">
                    <i class="material-icons delete-icon" data-bs-toggle="tooltip"
                       data-bs-placement="top" th:title="#{tooltip.icon.delete}">delete</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <button sec:authorize="hasAuthority('ADMIN')" th:text="#{label.button.add}" type="button" class="btn btn-primary"
            data-bs-toggle="modal" data-bs-target="#addGroupModal">
        Add group
    </button>
</div>

<!-- Add group modal -->
<div sec:authorize="hasAuthority('ADMIN')" class="modal fade" id="addGroupModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 th:text="#{modal.title.group.add}" class="modal-title" >Add group</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" id="addGroupForm" th:action="@{/groups}" th:object="${addGroupDraft}"
                      method="post">
                    <div class="mb-3">
                        <label th:for="groupName" th:text="#{label.input.group.name}" class="form-label">Group name</label>
                        <input id="groupName" required class="form-control" th:field="*{name}" type="text"
                               name="groupName">
                    </div>
                    <div class="mb-3">
                        <label th:for="curator" th:text="#{label.select.group.curator}" class="form-label">Curator</label><br>
                        <select class="form-select" id="curator" th:field="*{curatorId}">
                            <option th:text="#{text.curator.empty}" th:value="null"></option>
                            <option th:each="teacher: ${teachers}" th:value="${teacher.id}"
                                    th:text="${teacher.getFullName()}"></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" form="addGroupForm" th:text="#{label.button.add}">
                    Add group
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        th:text="#{label.button.cancel}">Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Edit group modal -->
<div sec:authorize="hasAuthority('ADMIN')" th:if="${editGroupDraft}" class="modal fade" id="editGroupModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 th:text="#{modal.title.group.edit}" class="modal-title" >Edit group</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" id="editGroupForm" th:action="@{/groups/__${editGroupDraft.id}__}" th:object="${editGroupDraft}"
                      method="post">
                    <div class="mb-3">
                        <label th:for="groupName" th:text="#{label.input.group.name}" class="form-label">Group name</label>
                        <input id="groupName" required class="form-control" th:field="*{name}" type="text"
                               name="groupName">
                    </div>
                    <div class="mb-3">
                        <label th:for="curator" th:text="#{label.select.group.curator}" class="form-label">Curator</label><br>
                        <select class="form-select" id="curator" th:field="*{curatorId}">
                            <option th:text="#{text.curator.empty}" th:value="null"></option>
                            <option th:each="teacher: ${teachers}" th:value="${teacher.id}"
                                    th:text="${teacher.getFullName()}"></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" form="editGroupForm" th:text="#{label.button.edit}">
                    Edit group
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        th:text="#{label.button.cancel}">Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Delete group modal -->
<div sec:authorize="hasAuthority('ADMIN')" th:if="${groupDeleteCandidate}" class="modal fade" id="deleteGroupModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 th:utext="#{modal.title.group.delete}" class="modal-title" >Delete group</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" id="deleteGroupForm" th:action="@{groups/__${groupDeleteCandidate.id}__/delete/confirm}" th:object="${groupDeleteCandidate}"
                      method="get">
                    <div class="mb-3">
                        <label th:for="groupName" th:text="#{label.input.group.name}" class="form-label">Group name</label>
                        <input id="groupName" required class="form-control" th:field="*{name}" type="text"
                               name="groupName" readonly>
                    </div>
                    <div class="mb-3">
                        <label th:for="curator" th:text="#{label.select.group.curator}" class="form-label">Curator</label><br>
                        <select class="form-select" id="curator" th:field="*{curatorId}" disabled>
                            <option th:text="#{text.curator.empty}" th:value="null"></option>
                            <option th:each="teacher: ${teachers}" th:value="${teacher.id}"
                                    th:text="${teacher.getFullName()}"></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="submit" form="deleteGroupForm" th:text="#{label.button.delete}">
                    Delete group
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        th:text="#{label.button.cancel}">Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function() {
        toggleModal('editGroupModal')
        toggleModal('deleteGroupModal')
    };

    function toggleModal(id) {
        var modalDoc = document.getElementById(id);
        if (modalDoc != null) {
            var modal = new bootstrap.Modal(modalDoc, {
                keyboard: false
            });
            modal.toggle();
        }
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>

</body>
</html>
