<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${group.name} + ' ' + ${subject.name}">Group name</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link th:href="@{/styles/journal.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/general::#errorModal"></div>

<h5 class="centered-text" th:text="#{text.journal.subject.name} + ': ' + ${subject.name}"></h5>
<h5 class="centered-text"
    th:text="${teacher} == null ? #{text.teacher.empty} : #{text.journal.teacher.name} + ': ' + ${teacher.getFullName()}"></h5>
<h5 class="centered-text" th:text="#{text.journal.group.name} + ': ' + ${group.name}"></h5><br>
<h6 class="centered-text" th:text="#{text.journal.table.head}"></h6>

<div>
    <table class="table-bordered journal">
        <thead>
        <tr>
            <th th:text="#{student.name}">Student full name</th>
            <th th:each="lesson: ${lessons}" th:text="${lesson.getFormattedDate()}" class="lesson-date">Lesson date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.getFullName()}">Full name</td>
            <td th:each="lesson: ${lessons}"
                th:with="attendance=${@attendanceService.findOrCreateByStudentIdAndLessonId(student.id, lesson.id)}">
                <input sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" class="editable-cell" type="text"
                       size="4"
                       th:attr="id=${attendance.id}, value=${attendance.toCellValue()}"
                       onchange="onChangeHandler(this.id, this.value)">
                <input sec:authorize="hasAuthority('STUDENT')" class="editable-cell" type="text" size="4"
                       th:value="${attendance.toCellValue()}"
                       onchange="onForbiddenChangeHandler()" readonly style="pointer-events: none">
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript" th:inline="javascript">
    var username = [[${#authentication.principal.username}]];
    var role = [[${#authentication.principal.role.name()}]];
</script>
<script th:inline="javascript" type="text/javascript" th:src="@{/js/change-journal.js}"></script>

</body>
</html>
