<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title th:text="${lesson.name} + ' (' + ${lesson.type} + ')'">Group name</title>
</head>
<body>

<nav th:replace="~{fragments/navbar::navbar}"></nav>

<div id="lessonContainer" class="container">
    <h5 th:text="(${lesson.date} == null ? '': ${lesson.date} + '. ') + ${lesson.name} + (${lesson.type} == null ? '': ' (' + ${lesson.type.getUaValue()} + ')')"></h5>
    <br>
    <h6 th:text="${subject.name} + ' (' + ${group.name} + ')'"></h6>
    <h6 th:text="#{text.lesson.teacher.name} + ': ' + (${teacher} == null ? #{text.teacher.empty} : ${teacher.getFullName()})"></h6>
    <br>
    <table class="table caption-top">
        <caption th:text="#{caption.table.sources}">List of sources</caption>
        <thead class="table-light">
        <tr>
            <th th:text="#{label.table.column.lesson.sources.name}">Source name</th>
            <th th:text="#{label.table.column.lesson.sources.link}">Preview link</th>
            <th sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" th:text="#{label.table.column.actions}">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="source : ${sources}">
            <td th:text="${source.name}">Source name</td>
            <td>
                <a th:href="${source.link}" th:text="${source.link}"></a>
            </td>
            <td sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')">
                <a href="#" class="icon-link" th:href="@{/lessons/__${lesson.id}__/sources/__${source.id}__/draft}" data-bs-toggle="tooltip" data-bs-placement="top"
                   th:title="#{tooltip.icon.edit}">
                    <i class="material-icons edit-icon">edit</i>
                </a>
                <a href="#" class="icon-link" th:href="@{/lessons/__${lesson.id}__/sources/__${source.id}__/delete}" data-bs-toggle="tooltip"
                   data-bs-placement="top" th:title="#{tooltip.icon.delete}">
                    <i class="material-icons delete-icon">delete</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <button sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" th:text="#{label.button.add}" class="btn btn-primary" id="insertSourceButton">Add source</button>

    <table class="table caption-top">
        <caption th:text="#{caption.table.assignments}">List of assignments</caption>
        <thead class="table-light">
        <tr>
            <th th:text="#{label.table.column.lesson.assignments.name}">Assignment name</th>
            <th th:text="#{label.table.column.lesson.assignments.link}">Preview link</th>
            <th sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" th:text="#{label.table.column.actions}">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="assignment : ${assignments}">
            <td th:text="${assignment.name}">Assignment name</td>
            <td>
                <a th:href="${assignment.link}" th:text="${assignment.link}"></a>
            </td>
            <td sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')">
                <a href="#" class="icon-link" th:href="@{/lessons/__${lesson.id}__/assignments/__${assignment.id}__/draft}" data-bs-toggle="tooltip" data-bs-placement="top"
                   th:title="#{tooltip.icon.edit}">
                    <i class="material-icons edit-icon">edit</i>
                </a>
                <a href="#" class="icon-link" th:href="@{/lessons/__${lesson.id}__/assignments/__${assignment.id}__/delete}" data-bs-toggle="tooltip"
                   data-bs-placement="top" th:title="#{tooltip.icon.delete}">
                    <i class="material-icons delete-icon">delete</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <button sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" th:text="#{label.button.add}" class="btn btn-primary" id="insertAssignmentButton">Add assignment</button>
</div>

<div sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" th:if="${editSourceDraft}" id="editSourceModal" class="modal" style="display: block">
    <div class="modal-content">
        <form action="#" th:action="@{/lessons/__${lesson.id}__/sources/__${editSourceDraft.id}__}" th:object="${editSourceDraft}" method="post">
            <span class="close" id="closeEditSourceSpan">&times;</span>
            <div class="form-group">
                <label th:for="sourceName" th:text="#{label.input.source.name}">Source name</label>
                <input id="sourceName" required=true class="form-control" th:field="*{name}" type="text"
                       name="sourceName">
            </div>
            <div class="form-group">
                <label th:for="sourceLink" th:text="#{label.input.source.link}">Source link</label>
                <input id="sourceLink" required=true class="form-control" th:field="*{link}" type="text"
                       name="sourceLink">
            </div>
            <button class="btn btn-primary" type="submit" th:text="#{label.button.save}">Save</button>
            <button class="btn btn-secondary" type="button" th:text="#{label.button.cancel}" id="closeEditSourceButton">Cancel</button>
        </form>
    </div>
</div>

<div sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" id="insertSourceModal" class="modal">
    <div class="modal-content">
        <form action="#" th:action="@{/lessons/__${lesson.id}__/sources}" th:object="${addSourceDraft}" method="post">
            <span class="close" id="closeInsertSourceSpan">&times;</span>
            <div class="form-group">
                <label th:for="sourceName" th:text="#{label.input.source.name}">Source name</label>
                <input id="sourceName" required=true class="form-control" th:field="*{name}" type="text"
                       name="sourceName">
            </div>
            <div class="form-group">
                <label th:for="sourceLink" th:text="#{label.input.source.link}">Source link</label>
                <input id="sourceLink" required=true class="form-control" th:field="*{link}" type="text"
                       name="sourceLink">
            </div>
            <button class="btn btn-primary" type="submit" th:text="#{label.button.add}">Add source</button>
            <button class="btn btn-secondary" type="button" th:text="#{label.button.cancel}" id="closeInsertSourceButton">Cancel</button>
        </form>
    </div>
</div>

<div sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" th:if="${sourceDeleteCandidate}" id="deleteSourceModal" class="modal" style="display: block">
    <div class="modal-content">
        <form action="#" th:action="@{/lessons/__${lesson.id}__/sources/__${sourceDeleteCandidate.id}__/delete/confirm}" th:object="${sourceDeleteCandidate}" method="get">
            <span class="close" id="closeDeleteSourceSpan">&times;</span>
            <p class="font-weight-bold" th:text="#{text.delete.confirmation.source}">Are you sure want to delete source?</p>
            <div class="form-group">
                <label th:for="sourceName" th:text="#{label.input.source.name}">Source name</label>
                <input id="sourceName" required=true class="form-control" th:field="*{name}" type="text"
                       name="sourceName" readonly>
            </div>
            <div class="form-group">
                <label th:for="sourceLink" th:text="#{label.input.source.link}">Source link</label>
                <input id="sourceLink" required=true class="form-control" th:field="*{link}" type="text"
                       name="sourceLink" readonly>
            </div>
            <button class="btn btn-danger" type="submit" th:text="#{label.button.delete}">Delete</button>
            <button class="btn btn-secondary" type="button" th:text="#{label.button.cancel}" id="closeDeleteSourceButton">Cancel</button>
        </form>
    </div>
</div>

<div sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" th:if="${editAssignmentDraft}" id="editAssignmentModal" class="modal" style="display: block">
    <div class="modal-content">
        <form action="#" th:action="@{/lessons/__${lesson.id}__/assignments/__${editAssignmentDraft.id}__}" th:object="${editAssignmentDraft}" method="post">
            <span class="close" id="closeEditAssignmentSpan">&times;</span>
            <div class="form-group">
                <label th:for="assignmentName" th:text="#{label.input.assignment.name}">Assignment name</label>
                <input id="assignmentName" required=true class="form-control" th:field="*{name}" type="text"
                       name="assignmentName">
            </div>
            <div class="form-group">
                <label th:for="assignmentLink" th:text="#{label.input.assignment.link}">Assignment link</label>
                <input id="assignmentLink" required=true class="form-control" th:field="*{link}" type="text"
                       name="assignmentLink">
            </div>
            <button class="btn btn-primary" type="submit" th:text="#{label.button.save}">Save</button>
            <button class="btn btn-secondary" type="button" th:text="#{label.button.cancel}" id="closeEditAssignmentButton">Cancel</button>
        </form>
    </div>
</div>

<div sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" id="insertAssignmentModal" class="modal">
    <div class="modal-content">
        <form action="#" th:action="@{/lessons/__${lesson.id}__/assignments}" th:object="${addAssignmentDraft}" method="post">
            <span class="close" id="closeInsertAssignmentSpan">&times;</span>
            <div class="form-group">
                <label th:for="assignmentName" th:text="#{label.input.assignment.name}">Assignment name</label>
                <input id="assignmentName" required=true class="form-control" th:field="*{name}" type="text"
                       name="assignmentName">
            </div>
            <div class="form-group">
                <label th:for="assignmentLink" th:text="#{label.input.assignment.link}">Assignment link</label>
                <input id="assignmentLink" required=true class="form-control" th:field="*{link}" type="text"
                       name="assignmentLink">
            </div>
            <button class="btn btn-primary" type="submit" th:text="#{label.button.add}">Add assignment</button>
            <button class="btn btn-secondary" type="button" th:text="#{label.button.cancel}" id="closeInsertAssignmentButton">Cancel</button>
        </form>
    </div>
</div>

<div sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" th:if="${assignmentDeleteCandidate}" id="deleteAssignmentModal" class="modal" style="display: block">
    <div class="modal-content">
        <form action="#" th:action="@{/lessons/__${lesson.id}__/assignments/__${assignmentDeleteCandidate.id}__/delete/confirm}" th:object="${assignmentDeleteCandidate}" method="get">
            <span class="close" id="closeDeleteAssignmentSpan">&times;</span>
            <p class="font-weight-bold" th:text="#{text.delete.confirmation.assignment}">Are you sure want to delete assignment?</p>
            <div class="form-group">
                <label th:for="assignmentName" th:text="#{label.input.assignment.name}">Assignment name</label>
                <input id="assignmentName" required=true class="form-control" th:field="*{name}" type="text"
                       name="assignmentName" readonly>
            </div>
            <div class="form-group">
                <label th:for="assignmentLink" th:text="#{label.input.assignment.link}">Assignment link</label>
                <input id="assignmentLink" required=true class="form-control" th:field="*{link}" type="text"
                       name="assignmentLink" readonly>
            </div>
            <button class="btn btn-danger" type="submit" th:text="#{label.button.delete}">Delete</button>
            <button class="btn btn-secondary" type="button" th:text="#{label.button.cancel}" id="closeDeleteAssignmentButton">Cancel</button>
        </form>
    </div>
</div>

<script type="text/javascript">
    var insertSourceModal = document.getElementById("insertSourceModal");
    var insertSourceButton = document.getElementById("insertSourceButton");
    var closeInsertSourceModalSpan = document.getElementById("closeInsertSourceSpan");
    var closeInsertSourceModalButton = document.getElementById("closeInsertSourceButton");

    if (insertSourceButton != null) {
        insertSourceButton.onclick = function () {
            insertSourceModal.style.display = "block";
        }
    }

    if (closeInsertSourceModalSpan != null) {
        closeInsertSourceModalSpan.onclick = function () {
            insertSourceModal.style.display = "none";
        }
    }

    if (closeInsertSourceModalButton != null) {
        closeInsertSourceModalButton.onclick = function () {
            insertSourceModal.style.display = "none";
        }
    }

    var editSourceModal = document.getElementById("editSourceModal");
    var closeEditSourceModalSpan = document.getElementById("closeEditSourceSpan");
    var closeEditSourceModalButton = document.getElementById("closeEditSourceButton");

    if (closeEditSourceModalSpan != null) {
        closeEditSourceModalSpan.onclick = function () {
            editSourceModal.style.display = "none";
        }
    }

    if (closeEditSourceModalButton != null) {
        closeEditSourceModalButton.onclick = function () {
            editSourceModal.style.display = "none";
        }
    }

    var deleteSourceModal = document.getElementById("deleteSourceModal");
    var closeDeleteSourceModalSpan = document.getElementById("closeDeleteSourceSpan");
    var closeDeleteSourceModalButton = document.getElementById("closeDeleteSourceButton");

    if (closeDeleteSourceModalSpan != null) {
        closeDeleteSourceModalSpan.onclick = function () {
            deleteSourceModal.style.display = "none";
        }
    }

    if (closeDeleteSourceModalButton != null) {
        closeDeleteSourceModalButton.onclick = function () {
            deleteSourceModal.style.display = "none";
        }
    }

    var insertAssignmentModal = document.getElementById("insertAssignmentModal");
    var insertAssignmentButton = document.getElementById("insertAssignmentButton");
    var closeInsertAssignmentModalSpan = document.getElementById("closeInsertAssignmentSpan");
    var closeInsertAssignmentModalButton = document.getElementById("closeInsertAssignmentButton");

    if (insertAssignmentButton != null) {
        insertAssignmentButton.onclick = function () {
            insertAssignmentModal.style.display = "block";
        }
    }

    if (closeInsertAssignmentModalSpan != null) {
        closeInsertAssignmentModalSpan.onclick = function () {
            insertAssignmentModal.style.display = "none";
        }
    }

    if (closeInsertAssignmentModalButton != null) {
        closeInsertAssignmentModalButton.onclick = function () {
            insertAssignmentModal.style.display = "none";
        }
    }

    var editAssignmentModal = document.getElementById("editAssignmentModal");
    var closeEditAssignmentModalSpan = document.getElementById("closeEditAssignmentSpan");
    var closeEditAssignmentModalButton = document.getElementById("closeEditAssignmentButton");

    if (closeEditAssignmentModalSpan != null) {
        closeEditAssignmentModalSpan.onclick = function () {
            editAssignmentModal.style.display = "none";
        }
    }

    if (closeEditAssignmentModalButton != null) {
        closeEditAssignmentModalButton.onclick = function () {
            editAssignmentModal.style.display = "none";
        }
    }

    var deleteAssignmentModal = document.getElementById("deleteAssignmentModal");
    var closeDeleteAssignmentModalSpan = document.getElementById("closeDeleteAssignmentSpan");
    var closeDeleteAssignmentModalButton = document.getElementById("closeDeleteAssignmentButton");

    if (closeDeleteAssignmentModalSpan != null) {
        closeDeleteAssignmentModalSpan.onclick = function () {
            deleteAssignmentModal.style.display = "none";
        }
    }

    if (closeDeleteAssignmentModalButton != null) {
        closeDeleteAssignmentModalButton.onclick = function () {
            deleteAssignmentModal.style.display = "none";
        }
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>

</body>
</html>
