<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title th:text="${lesson.name} + ' (' + ${lesson.type} + ')'">Group name</title>
</head>
<body>

<nav th:replace="~{fragments/navbar::navbar}"></nav>

<div id="lessonContainer" class="container">
    <h5 th:text="(${lesson.date} == null ? '': ${lesson.date} + '. ') + ${lesson.name} + (${lesson.type} == null ? '': ' (' + ${lesson.type.getUaValue()} + ')')"></h5>
    <br>
    <h6 th:text="${subject.name} + ' (' + ${group.name} + ')'"></h6>
    <h6 th:text="#{text.lesson.teacher.name} + ': ' + (${teacher} == null ? #{text.teacher.empty} : ${teacher.getFullName()})"></h6>
    <br>
    <table class="table caption-top">
        <caption th:text="#{caption.table.sources}">List of sources</caption>
        <thead class="table-light">
        <tr>
            <th th:text="#{label.table.column.lesson.sources.name}">Source name</th>
            <th th:text="#{label.table.column.lesson.sources.link}">Preview link</th>
            <th th:text="#{label.table.column.lesson.sources.attachment}">Attachment</th>
            <th sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" th:text="#{label.table.column.actions}">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="source : ${sources}">
            <td th:text="${source.name}">Source name</td>
            <td>
                <a th:href="${source.link}" th:text="${source.link}"></a>
            </td>
            <td th:text="${source.attachmentName}"></td>
            <td sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')">
                <a href="#" class="icon-link" th:href="@{/lessons/__${lesson.id}__/sources/__${source.id}__/draft}">
                    <i class="material-icons edit-icon"  data-bs-toggle="tooltip" data-bs-placement="top"
                       th:title="#{tooltip.icon.edit}">edit</i>
                </a>
                <a href="#" class="icon-link" th:href="@{/lessons/__${lesson.id}__/sources/__${source.id}__/delete}">
                    <i class="material-icons delete-icon" data-bs-toggle="tooltip"
                       data-bs-placement="top" th:title="#{tooltip.icon.delete}">delete</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <button sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" th:text="#{label.button.add}" type="button" class="btn btn-primary"
            data-bs-toggle="modal" data-bs-target="#addSourceModal">
        Add source
    </button>

    <table class="table caption-top">
        <caption th:text="#{caption.table.assignments}">List of assignments</caption>
        <thead class="table-light">
        <tr>
            <th th:text="#{label.table.column.lesson.assignments.name}">Assignment name</th>
            <th th:text="#{label.table.column.lesson.assignments.link}">Preview link</th>
            <th sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" th:text="#{label.table.column.actions}">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="assignment : ${assignments}">
            <td th:text="${assignment.name}">Assignment name</td>
            <td>
                <a th:href="${assignment.link}" th:text="${assignment.link}"></a>
            </td>
            <td sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')">
                <a href="#" class="icon-link" th:href="@{/lessons/__${lesson.id}__/assignments/__${assignment.id}__/draft}">
                    <i class="material-icons edit-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                       th:title="#{tooltip.icon.edit}">edit</i>
                </a>
                <a href="#" class="icon-link" th:href="@{/lessons/__${lesson.id}__/assignments/__${assignment.id}__/delete}">
                    <i class="material-icons delete-icon" data-bs-toggle="tooltip"
                       data-bs-placement="top" th:title="#{tooltip.icon.delete}">delete</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <button sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" th:text="#{label.button.add}" type="button" class="btn btn-primary"
            data-bs-toggle="modal" data-bs-target="#addAssignmentModal">
        Add assignment
    </button>
</div>

<!-- Add source modal -->
<div sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" class="modal fade" id="addSourceModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 th:text="#{modal.title.source.add}" class="modal-title" >Add source</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" id="addSourceForm" th:action="@{/lessons/__${lesson.id}__/sources}" th:object="${addSourceDraft}" enctype="multipart/form-data"
                      method="post">
                    <div class="mb-3">
                        <label th:for="sourceName" th:text="#{label.input.source.name}" class="form-label">Source name</label>
                        <input id="sourceName" required class="form-control" th:field="*{name}" type="text"
                               name="sourceName">
                    </div>
                    <div class="mb-3">
                        <label th:for="sourceLink" th:text="#{label.input.source.link}" class="form-label">Source link</label>
                        <input id="sourceLink" class="form-control" th:field="*{link}" type="text"
                               name="sourceLink">
                    </div>
                    <div class="mb-3">
                        <label th:for="sourceFile" th:text="#{label.input.source.attachment}" class="form-label">Attachment</label>
                        <input class="form-control" type="file" id="sourceFile" name="file">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" form="addSourceForm" th:text="#{label.button.add}">
                    Add source
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        th:text="#{label.button.cancel}">Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Edit source modal -->
<div sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" th:if="${editSourceDraft}" class="modal fade" id="editSourceModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 th:text="#{modal.title.source.edit}" class="modal-title" >Edit source</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" id="editSourceForm" th:action="@{/lessons/__${lesson.id}__/sources/__${editSourceDraft.id}__}" th:object="${editSourceDraft}"
                      method="post">
                    <div class="mb-3">
                        <label th:for="sourceName" th:text="#{label.input.source.name}" class="form-label">Source name</label>
                        <input id="sourceName" required class="form-control" th:field="*{name}" type="text"
                               name="sourceName">
                    </div>
                    <div class="mb-3">
                        <label th:for="sourceLink" th:text="#{label.input.source.link}" class="form-label">Source link</label>
                        <input id="sourceLink" required class="form-control" th:field="*{link}" type="text"
                               name="sourceLink">
                    </div>
                    <div class="mb-3">
                        <label th:for="sourceFile" th:text="#{label.input.source.attachment}" class="form-label">Attachment</label>
                        <input class="form-control" type="file" th:field="*{file}" id="sourceFile" name="file">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" form="editSourceForm" th:text="#{label.button.edit}">
                    Edit source
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        th:text="#{label.button.cancel}">Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Delete source modal -->
<div sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" th:if="${sourceDeleteCandidate}" class="modal fade" id="deleteSourceModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 th:text="#{modal.title.source.delete}" class="modal-title" >Delete source</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" id="deleteSourceForm" th:action="@{/lessons/__${lesson.id}__/sources/__${sourceDeleteCandidate.id}__/delete/confirm}" th:object="${sourceDeleteCandidate}"
                      method="get">
                    <div class="mb-3">
                        <label th:for="sourceName" th:text="#{label.input.source.name}" class="form-label">Source name</label>
                        <input id="sourceName" required class="form-control" th:field="*{name}" type="text"
                               name="sourceName" readonly>
                    </div>
                    <div class="mb-3">
                        <label th:for="sourceLink" th:text="#{label.input.source.link}" class="form-label">Source link</label>
                        <input id="sourceLink" required class="form-control" th:field="*{link}" type="text"
                               name="sourceLink" readonly>
                    </div>
                    <div class="mb-3">
                        <label th:for="sourceFile" th:text="#{label.input.source.attachment}" class="form-label">Attachment</label>
                        <input class="form-control" type="file" id="sourceFile" name="file">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="submit" form="deleteSourceForm" th:text="#{label.button.delete}">
                    Delete source
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        th:text="#{label.button.cancel}">Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Add assignment modal -->
<div sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" class="modal fade" id="addAssignmentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 th:text="#{modal.title.assignment.add}" class="modal-title" >Add assignment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" id="addAssignmentForm" th:action="@{/lessons/__${lesson.id}__/assignments}" th:object="${addAssignmentDraft}"
                      method="post">
                    <div class="mb-3">
                        <label th:for="assignmentName" th:text="#{label.input.assignment.name}" class="form-label">Assignment name</label>
                        <input id="assignmentName" required class="form-control" th:field="*{name}" type="text"
                               name="assignmentName">
                    </div>
                    <div class="mb-3">
                        <label th:for="assignmentLink" th:text="#{label.input.assignment.link}" class="form-label">Assignment link</label>
                        <input id="assignmentLink" required class="form-control" th:field="*{link}" type="text"
                               name="assignmentLink">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" form="addAssignmentForm" th:text="#{label.button.add}">
                    Add assignment
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        th:text="#{label.button.cancel}">Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Edit assignment modal -->
<div sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" th:if="${editAssignmentDraft}" class="modal fade" id="editAssignmentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 th:text="#{modal.title.assignment.edit}" class="modal-title" >Edit assignment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" id="editAssignmentForm" th:action="@{/lessons/__${lesson.id}__/assignments/__${editAssignmentDraft.id}__}" th:object="${editAssignmentDraft}"
                      method="post">
                    <div class="mb-3">
                        <label th:for="assignmentName" th:text="#{label.input.assignment.name}" class="form-label">Assignment name</label>
                        <input id="assignmentName" required class="form-control" th:field="*{name}" type="text"
                               name="assignmentName">
                    </div>
                    <div class="mb-3">
                        <label th:for="assignmentLink" th:text="#{label.input.assignment.link}" class="form-label">Assignment link</label>
                        <input id="assignmentLink" required class="form-control" th:field="*{link}" type="text"
                               name="assignmentLink">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" form="editAssignmentForm" th:text="#{label.button.edit}">
                    Edit assignment
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        th:text="#{label.button.cancel}">Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Delete assignment modal -->
<div sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" th:if="${assignmentDeleteCandidate}" class="modal fade" id="deleteAssignmentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 th:text="#{modal.title.assignment.delete}" class="modal-title" >Delete assignment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" id="deleteAssignmentForm" th:action="@{/lessons/__${lesson.id}__/assignments/__${assignmentDeleteCandidate.id}__/delete/confirm}" th:object="${assignmentDeleteCandidate}"
                      method="get">
                    <div class="mb-3">
                        <label th:for="assignmentName" th:text="#{label.input.assignment.name}" class="form-label">Assignment name</label>
                        <input id="assignmentName" required class="form-control" th:field="*{name}" type="text"
                               name="assignmentName" readonly>
                    </div>
                    <div class="mb-3">
                        <label th:for="assignmentLink" th:text="#{label.input.assignment.link}" class="form-label">Assignment link</label>
                        <input id="assignmentLink" required class="form-control" th:field="*{link}" type="text"
                               name="assignmentLink" readonly>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="submit" form="deleteAssignmentForm" th:text="#{label.button.delete}">
                    Delete assignment
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        th:text="#{label.button.cancel}">Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function() {
        toggleModal('editSourceModal')
        toggleModal('deleteSourceModal')

        toggleModal('editAssignmentModal')
        toggleModal('deleteAssignmentModal')
    };

    function toggleModal(id) {
        var modalDoc = document.getElementById(id);
        if (modalDoc != null) {
            var modal = new bootstrap.Modal(modalDoc, {
                keyboard: false
            });
            modal.toggle();
        }
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>

</body>
</html>
