<div class="studentslist" th:unless="${#lists.isEmpty(allStudents)}">

    <h2 th:text="#{students.list.title}">List of Students</h2>

    <table>
        <thead>
        <tr>
            <th th:text="#{student.firstname}">First name</th>
            <th th:text="#{student.lastname}">Last name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${allStudents}">
            <td th:text="${{student.firstName}}">First name</td>
            <td th:text="${{student.lastName}}">Last name</td>
        </tr>
        </tbody>
    </table>
</div>