<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bu students</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<nav th:replace="fragments/general::navbar"></nav>

<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th th:text="#{student.name}">Student name</th>
        <th th:text="#{student.group}">Group</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}" th:with="group=${@groupService.findById(student.groupId)}">
        <td th:text="${student.id}">ID</td>
        <td th:text="|${student.lastName} ${student.firstName} ${student.patronymic}|">Full name</td>
        <td th:text="${group.name}">Group name</td>
    </tr>
    </tbody>
</table>

<footer th:replace="fragments/general::footer"></footer>

</body>
</html>