<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bu subjects</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<nav th:replace="fragments/general::navbar"></nav>

<div th:replace="fragments/general::#errorModal"></div>

<table class="table table-hover">
    <thead>
    <tr>
        <th th:text="#{subject.name}">Subject name</th>
        <th th:text="#{subject.teacher.name}">Subject teacher name</th>
        <th th:text="#{subject.group.name}">Subject group name</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="subject : ${subjects}"
        th:with="teacher=${@teacherService.findByNullableId(subject.teacherId)}, group=${@groupService.findByNullableId(subject.groupId)}">
        <td th:text="${subject.name}">Subject name</td>
        <td th:text="${teacher} == null ? #{text.teacher.empty} : ${teacher.getFullName()}">Teacher full name</td>
        <td th:text="${group} == null ? #{text.group.empty} : ${group.name}">Group name</td>
        <td>
            <a th:text="#{label.href.subject.lessons}" th:href="@{subjects/__${subject.id}__}">Lessons schedule</a>
        </td>
        <td>
            <a th:alt="#{label.href.edit}" th:href="@{subjects/__${subject.id}__/draft}" id="editButton">✏️</a>
        </td>
        <td>
            <a th:alt="#{label.href.delete}" th:href="@{subjects/__${subject.id}__/delete}">❌</a>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td>
            <button th:text="#{label.button.add}" class="btn btn-primary" id="insertButton">Add subject</button>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tfoot>
</table>

<div th:if="${editSubjectDraft}" id="editModal" class="modal" style="display: block">
    <div class="modal-content">
        <form action="#" th:action="@{/subjects/__${editSubjectDraft.id}__}" th:object="${editSubjectDraft}" method="post">
            <span class="close" id="closeEditSpan">&times;</span>
            <div class="form-group">
                <label th:for="subjectName" th:text="#{label.input.subject.name}">Subject name</label>
                <input id="subjectName" required=true class="form-control" th:field="*{name}" type="text"
                       name="subjectName">
            </div>
            <div class="form-group">
                <label th:for="subjectTeacher" th:text="#{label.select.subject.teacher}">Teacher</label><br>
                <select class="custom-select" id="subjectTeacher" th:field="*{teacherId}">
                    <option th:text="#{text.teacher.empty}" th:value="null"></option>
                    <option th:each="teacher: ${teachers}" th:value="${teacher.id}"
                            th:text="${teacher.getFullName()}"></option>
                </select>
            </div>
            <div class="form-group">
                <label th:for="subjectGroup" th:text="#{label.select.subject.group}">Group</label><br>
                <select class="custom-select" id="subjectGroup" th:field="*{groupId}">
                    <option th:text="#{text.group.empty}" th:value="null"></option>
                    <option th:each="group: ${groups}" th:value="${group.id}" th:text="${group.name}"></option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit" th:text="#{label.button.save}">Save</button>
            <button class="btn btn-secondary" type="button" th:text="#{label.button.cancel}" id="closeEditButton">Cancel</button>
        </form>
    </div>
</div>

<div id="insertModal" class="modal">
    <div class="modal-content">
        <form action="#" th:action="@{/subjects}" th:object="${addSubjectDraft}" method="post">
            <span class="close" id="closeInsertSpan">&times;</span>
            <div class="form-group">
                <label th:for="subjectName" th:text="#{label.input.subject.name}">Subject name</label>
                <input id="subjectName" required=true class="form-control" th:field="*{name}" type="text"
                       name="subjectName">
            </div>
            <div class="form-group">
                <label th:for="subjectTeacher" th:text="#{label.select.subject.teacher}">Teacher</label><br>
                <select class="custom-select" id="subjectTeacher" th:field="*{teacherId}">
                    <option th:text="#{text.teacher.empty}" th:value="null"></option>
                    <option th:each="teacher: ${teachers}" th:value="${teacher.id}"
                            th:text="${teacher.getFullName()}"></option>
                </select>
            </div>
            <div class="form-group">
                <label th:for="subjectGroup" th:text="#{label.select.subject.group}">Group</label><br>
                <select class="custom-select" id="subjectGroup" th:field="*{groupId}">
                    <option th:text="#{text.group.empty}" th:value="null"></option>
                    <option th:each="group: ${groups}" th:value="${group.id}" th:text="${group.name}"></option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit" th:text="#{label.button.add}">Add subject</button>
            <button class="btn btn-secondary" type="submit" th:text="#{label.button.cancel}" id="closeInsertButton">
                Cancel
            </button>
        </form>
    </div>
</div>

<div th:if="${subjectDeleteCandidate}" id="deleteModal" class="modal" style="display: block">
    <div class="modal-content">
        <form action="#" th:action="@{/subjects/__${subjectDeleteCandidate.id}__/delete/confirm}" th:object="${subjectDeleteCandidate}" method="get">
            <span class="close" id="closeDeleteSpan">&times;</span>
            <p class="font-weight-bold" th:text="#{text.delete.confirmation.subject}">Are you sure want to delete subject?</p>
            <div class="form-group">
                <label th:for="subjectName" th:text="#{label.input.subject.name}">Subject name</label>
                <input id="subjectName" required=true class="form-control" th:field="*{name}" type="text"
                       name="subjectName" readonly>
            </div>
            <div class="form-group">
                <label th:for="subjectTeacher" th:text="#{label.select.subject.teacher}">Teacher</label><br>
                <input id="subjectTeacher" required=true class="form-control" th:attr="value=${subjectDeleteCandidateTeacher} == null ? #{text.teacher.empty} : ${subjectDeleteCandidateTeacher.getFullName()}"
                       name="subjectTeacher" readonly>
            </div>
            <div class="form-group">
                <label th:for="subjectGroup" th:text="#{label.select.subject.group}">Group</label><br>
                <input id="subjectGroup" required=true class="form-control" th:attr="value=${subjectDeleteCandidateGroup} == null ? #{text.group.empty} : ${subjectDeleteCandidateGroup.name}"
                       name="subjectGroup" readonly>
            </div>
            <button class="btn btn-danger" type="submit" th:text="#{label.button.delete}">Delete</button>
            <button class="btn btn-secondary" type="button" th:text="#{label.button.cancel}" id="closeDeleteButton">Cancel</button>
        </form>
    </div>
</div>

<footer th:replace="fragments/general::footer"></footer>

<script type="text/javascript" th:src="@{/js/insert-modal.js}"></script>
<script type="text/javascript" th:src="@{/js/edit-modal.js}"></script>
<script type="text/javascript" th:src="@{/js/delete-modal.js}"></script>

</body>
</html>
