<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>Bu subjects</title>
</head>
<body>

<nav th:replace="~{fragments/navbar::navbar}"></nav>

<div id="subjectsContainer" class="container">
    <table class="table caption-top">
        <caption th:text="#{caption.table.subjects}">List of subjects</caption>
        <thead class="table-light">
        <tr>
            <th th:text="#{subject.group.name}">Subject group name</th>
            <th th:text="#{subject.name}">Subject name</th>
            <th th:text="#{subject.teacher.name}">Subject teacher name</th>
            <th sec:authorize="hasAuthority('ADMIN')" th:text="#{label.table.column.actions}">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject : ${subjects}"
            th:with="teacher=${@teacherService.findByNullableId(subject.teacherId)}, group=${@groupService.findByNullableId(subject.groupId)}">
            <td th:text="${group} == null ? #{text.group.empty} : ${group.name}">Group name</td>
            <td th:text="${subject.name}">Subject name</td>
            <td th:text="${teacher} == null ? #{text.teacher.empty} : ${teacher.getFullName()}">Teacher full name</td>
            <td sec:authorize="hasAuthority('ADMIN')">
                <a href="#" class="icon-link" th:href="@{subjects/__${subject.id}__}">
                    <i class="material-icons show-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                       th:title="#{tooltip.icon.show}">visibility</i>
                </a>
                <a th:if="${group}" href="#" class="icon-link" th:href="@{/journals/subjects/__${subject.id}__/}">
                    <i class="material-icons journal-icon" data-bs-toggle="tooltip"
                       data-bs-placement="top" th:title="#{tooltip.icon.journal}">menu_book</i>
                </a>
                <a href="#" class="icon-link" th:href="@{subjects/__${subject.id}__/draft}">
                    <i class="material-icons edit-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                       th:title="#{tooltip.icon.edit}">edit</i>
                </a>
                <a href="#" class="icon-link" th:href="@{subjects/__${subject.id}__/delete}">
                    <i class="material-icons delete-icon" data-bs-toggle="tooltip"
                       data-bs-placement="top" th:title="#{tooltip.icon.delete}">delete</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <button sec:authorize="hasAuthority('ADMIN')" th:text="#{label.button.add}" type="button" class="btn btn-primary"
            data-bs-toggle="modal" data-bs-target="#addSubjectModal">
        Add subject
    </button>
</div>

<!-- Add subject modal -->
<div sec:authorize="hasAuthority('ADMIN')" class="modal fade" id="addSubjectModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 th:text="#{modal.title.subject.add}" class="modal-title" >Add subject</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" id="addSubjectForm" th:action="@{/subjects}" th:object="${addSubjectDraft}"
                      method="post">
                    <div class="mb-3">
                        <label th:for="subjectName" th:text="#{label.input.subject.name}" class="form-label">Subject name</label>
                        <input id="subjectName" required class="form-control" th:field="*{name}" type="text"
                               name="subjectName">
                    </div>
                    <div class="mb-3">
                        <label th:for="subjectTeacher" th:text="#{label.select.subject.teacher}" class="form-label">Teacher</label><br>
                        <select class="form-select" id="subjectTeacher" th:field="*{teacherId}">
                            <option th:text="#{text.teacher.empty}" th:value="null"></option>
                            <option th:each="teacher: ${teachers}" th:value="${teacher.id}"
                                    th:text="${teacher.getFullName()}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label th:for="subjectGroup" th:text="#{label.select.subject.group}" class="form-label">Group</label><br>
                        <select class="form-select" id="subjectGroup" th:field="*{groupId}">
                            <option th:text="#{text.group.empty}" th:value="null"></option>
                            <option th:each="group: ${groups}" th:value="${group.id}" th:text="${group.name}"></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" form="addSubjectForm" th:text="#{label.button.add}">
                    Add subject
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        th:text="#{label.button.cancel}">Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Edit subject modal -->
<div sec:authorize="hasAuthority('ADMIN')" th:if="${editSubjectDraft}" class="modal fade" id="editSubjectModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 th:text="#{modal.title.subject.edit}" class="modal-title" >Edit subject</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" id="editSubjectForm" th:action="@{/subjects/__${editSubjectDraft.id}__}" th:object="${editSubjectDraft}"
                      method="post">
                    <div class="mb-3">
                        <label th:for="subjectName" th:text="#{label.input.subject.name}" class="form-label">Subject name</label>
                        <input id="subjectName" required class="form-control" th:field="*{name}" type="text"
                               name="subjectName">
                    </div>
                    <div class="mb-3">
                        <label th:for="subjectTeacher" th:text="#{label.select.subject.teacher}" class="form-label">Teacher</label><br>
                        <select class="form-select" id="subjectTeacher" th:field="*{teacherId}">
                            <option th:text="#{text.teacher.empty}" th:value="null"></option>
                            <option th:each="teacher: ${teachers}" th:value="${teacher.id}"
                                    th:text="${teacher.getFullName()}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label th:for="subjectGroup" th:text="#{label.select.subject.group}" class="form-label">Group</label><br>
                        <select class="form-select" id="subjectGroup" th:field="*{groupId}">
                            <option th:text="#{text.group.empty}" th:value="null"></option>
                            <option th:each="group: ${groups}" th:value="${group.id}" th:text="${group.name}"></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" form="editSubjectForm" th:text="#{label.button.edit}">
                    Edit subject
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        th:text="#{label.button.cancel}">Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Delete subject modal -->
<div sec:authorize="hasAuthority('ADMIN')" th:if="${subjectDeleteCandidate}" class="modal fade" id="deleteSubjectModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 th:utext="#{modal.title.subject.delete}" class="modal-title" >Delete subject</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" id="deleteSubjectForm" th:action="@{/subjects/__${subjectDeleteCandidate.id}__/delete/confirm}" th:object="${subjectDeleteCandidate}"
                      method="get">
                    <div class="mb-3">
                        <label th:for="subjectName" th:text="#{label.input.subject.name}" class="form-label">Subject name</label>
                        <input id="subjectName" required class="form-control" th:field="*{name}" type="text"
                               name="subjectName" readonly>
                    </div>
                    <div class="mb-3">
                        <label th:for="subjectTeacher" th:text="#{label.select.subject.teacher}" class="form-label">Teacher</label><br>
                        <select class="form-select" id="subjectTeacher" th:field="*{teacherId}" disabled>
                            <option th:text="#{text.teacher.empty}" th:value="null"></option>
                            <option th:each="teacher: ${teachers}" th:value="${teacher.id}"
                                    th:text="${teacher.getFullName()}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label th:for="subjectGroup" th:text="#{label.select.subject.group}" class="form-label">Group</label><br>
                        <select class="form-select" id="subjectGroup" th:field="*{groupId}" disabled>
                            <option th:text="#{text.group.empty}" th:value="null"></option>
                            <option th:each="group: ${groups}" th:value="${group.id}" th:text="${group.name}"></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="submit" form="deleteSubjectForm" th:text="#{label.button.delete}">
                    Delete subject
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        th:text="#{label.button.cancel}">Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function() {
        toggleModal('editSubjectModal')
        toggleModal('deleteSubjectModal')
    };

    function toggleModal(id) {
        var modalDoc = document.getElementById(id);
        if (modalDoc != null) {
            var modal = new bootstrap.Modal(modalDoc, {
                keyboard: false
            });
            modal.toggle();
        }
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>

</body>
</html>
