<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title th:text="${subject.name}">Subject name</title>
</head>
<body>

<nav th:replace="~{fragments/navbar::navbar}"></nav>

<div id="subjectContainer" class="container">
    <table class="table caption-top">
        <caption th:text="#{caption.table.lessons}">List of lessons</caption>
        <thead class="table-light">
        <tr>
            <th th:text="#{lesson.date}">Lesson date</th>
            <th th:text="#{lesson.name}">Lesson name</th>
            <th th:text="#{lesson.type}">Lesson type</th>
            <th sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" th:text="#{label.table.column.actions}">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lesson : ${lessons}">
            <td th:text="${lesson.date}">Lesson date</td>
            <td th:text="${lesson.name}">Lesson name</td>
            <td th:text="${lesson.type} == null ? #{text.lesson.type.empty} : ${lesson.type.getUaValue()}">Lesson type</td>
            <td sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')">
                <a href="#" class="icon-link" th:href="@{/lessons/__${lesson.id}__}" data-bs-toggle="tooltip" data-bs-placement="top"
                   th:title="#{tooltip.icon.show}">
                    <i class="material-icons show-icon">visibility</i>
                </a>
                <a href="#" class="icon-link" th:href="@{/subjects/__${subject.id}__/lessons/__${lesson.id}__/draft}" data-bs-toggle="tooltip" data-bs-placement="top"
                   th:title="#{tooltip.icon.edit}">
                    <i class="material-icons edit-icon">edit</i>
                </a>
                <a href="#" class="icon-link" th:href="@{/subjects/__${subject.id}__/lessons/__${lesson.id}__/delete}" data-bs-toggle="tooltip"
                   data-bs-placement="top" th:title="#{tooltip.icon.delete}">
                    <i class="material-icons delete-icon">delete</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <button sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" th:text="#{label.button.add}" class="btn btn-primary" id="insertButton">Add lesson</button>
</div>

<div sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" th:if="${editLessonDraft}" id="editModal" class="modal" style="display: block">
    <div class="modal-content">
        <form action="#" th:action="@{/subjects/__${subject.id}__/lessons/__${editLessonDraft.id}__}" th:object="${editLessonDraft}" method="post">
            <span class="close" id="closeEditSpan">&times;</span>
            <div class="form-group">
                <label th:for="lessonDate" th:text="#{label.input.lesson.date}">Lesson date</label>
                <input id="lessonDate" required=true type="date" class="form-control" th:field="*{date}"
                       name="lessonDate">
            </div>
            <div class="form-group">
                <label th:for="lessonName" th:text="#{label.input.lesson.name}">Lesson name</label>
                <input id="lessonName" required=true class="form-control" th:field="*{name}"
                       name="lessonName">
            </div>
            <div class="form-group">
                <label th:for="lessonType" th:text="#{label.input.lesson.type}">Lesson type</label>
                <select class="custom-select" id="lessonType" th:field="*{type}">
                    <option th:text="#{text.lesson.type.empty}" th:value="null"></option>
                    <option th:each="type: ${T(com.arash.edu.bujournal.domain.enums.LessonType).uaValues()}"
                            th:value="${T(com.arash.edu.bujournal.domain.enums.LessonType).fromUaValue(type)}"
                            th:text="${type}"></option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit" th:text="#{label.button.save}">Save</button>
            <button class="btn btn-secondary" type="button" th:text="#{label.button.cancel}" id="closeEditButton">Cancel</button>
        </form>
    </div>
</div>

<div sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" id="insertModal" class="modal">
    <div class="modal-content">
        <form action="#" th:action="@{/subjects/__${subject.id}__/lessons}" th:object="${addLessonDraft}" method="post">
            <span class="close" id="closeInsertSpan">&times;</span>

            <div class="form-group">
                <label th:for="lessonDate" th:text="#{label.input.lesson.date}">Lesson date</label>
                <input id="lessonDate" required=true type="date" class="form-control" th:field="*{date}"
                       name="lessonDate">
            </div>
            <div class="form-group">
                <label th:for="lessonName" th:text="#{label.input.lesson.name}">Lesson name</label>
                <input id="lessonName" required=true class="form-control" th:field="*{name}"
                       name="lessonName">
            </div>
            <div class="form-group">
                <label th:for="lessonType" th:text="#{label.input.lesson.type}">Lesson type</label>
                <select class="custom-select" id="lessonType" th:field="*{type}">
                    <option th:text="#{text.lesson.type.empty}" th:value="null"></option>
                    <option th:each="type: ${T(com.arash.edu.bujournal.domain.enums.LessonType).uaValues()}"
                            th:value="${T(com.arash.edu.bujournal.domain.enums.LessonType).fromUaValue(type)}"
                            th:text="${type}"></option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit" th:text="#{label.button.add}">Add lesson</button>
            <button class="btn btn-secondary" type="button" th:text="#{label.button.cancel}" id="closeInsertButton">
                Cancel
            </button>
        </form>
    </div>
</div>

<div sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" th:if="${lessonDeleteCandidate}" id="deleteModal" class="modal" style="display: block">
    <div class="modal-content">
        <form action="#" th:action="@{/subjects/__${subject.id}__/lessons/__${lessonDeleteCandidate.id}__/delete/confirm}" th:object="${lessonDeleteCandidate}" method="get">
            <span class="close" id="closeDeleteSpan">&times;</span>
            <p class="font-weight-bold" th:text="#{text.delete.confirmation.lesson}">Are you sure want to delete lesson?</p>
            <div class="form-group">
                <label th:for="lessonDate" th:text="#{label.input.lesson.date}">Lesson date</label>
                <input id="lessonDate" required=true type="date" class="form-control" th:field="*{date}"
                       name="lessonDate" readonly>
            </div>
            <div class="form-group">
                <label th:for="lessonName" th:text="#{label.input.lesson.name}">Lesson name</label>
                <input id="lessonName" required=true class="form-control" th:field="*{name}"
                       name="lessonName" readonly>
            </div>
            <div class="form-group">
                <label th:for="lessonType" th:text="#{label.input.lesson.type}">Lesson type</label>
                <input id="lessonType" required=true class="form-control" th:attr="value=${lessonDeleteCandidate.type} == null ? #{text.lesson.type.empty} : ${lessonDeleteCandidate.type.getUaValue()}"
                       name="lessonType" readonly>
            </div>
            <button class="btn btn-danger" type="submit" th:text="#{label.button.delete}">Delete</button>
            <button class="btn btn-secondary" type="button" th:text="#{label.button.cancel}" id="closeDeleteButton">Cancel</button>
        </form>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/insert-modal.js}"></script>
<script type="text/javascript" th:src="@{/js/edit-modal.js}"></script>
<script type="text/javascript" th:src="@{/js/delete-modal.js}"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>

</body>
</html>
