<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${subject.name}">Group name</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<nav th:replace="fragments/general::navbar"></nav>

<div th:replace="fragments/general::#errorModal"></div>

<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th th:text="#{lesson.date}">Lesson date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="lesson : ${lessons}">
        <td th:text="${lesson.id}">ID</td>
        <td th:text="${lesson.date}">Lesson date</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td>
            <button th:text="#{label.button.add}" class="btn btn-primary" id="insertButton">Add lesson</button>
        </td>
        <td></td>
    </tr>
</table>

<div id="insertModal" class="modal">
    <div class="modal-content">
        <form action="#" th:action="@{/subjects/__${subject.id}__/lessons}" th:object="${draftLesson}" method="post">
            <span class="close" id="closeInsertSpan">&times;</span>
            <div class="form-group">
                <label th:for="lessonDate" th:text="#{label.input.lesson.date}">Lesson date</label>
                <input id="lessonDate" required=true type="date" class="form-control" th:field="*{date}"
                       name="lessonDate">
            </div>
            <button class="btn btn-primary" type="submit" th:text="#{label.button.add}">Add lesson</button>
            <button class="btn btn-secondary" type="submit" th:text="#{label.button.cancel}" id="closeInsertButton">
                Cancel
            </button>
        </form>
    </div>
</div>

<footer th:replace="fragments/general::footer"></footer>

<script type="text/javascript" th:src="@{/js/insert-modal.js}"></script>

</body>
</html>
