<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>Bu teachers</title>
</head>
<body>

<nav th:replace="~{fragments/navbar::navbar}"></nav>

<div id="teachersContainer" class="container">
    <table class="table caption-top">
        <caption th:text="#{caption.table.teachers}">List of teachers</caption>
        <thead class="table-light">
        <tr>
            <th th:text="#{teacher.name}">Teacher name</th>
            <th sec:authorize="hasAuthority('ADMIN')" th:text="#{label.table.column.actions}">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher : ${teachers}">
            <td th:text="${teacher.getFullName()}">Full name</td>
            <td sec:authorize="hasAuthority('ADMIN')">
                <a href="#" th:href="@{teachers/__${teacher.id}__/draft}" class="icon-link">
                    <i class="material-icons edit-icon" data-bs-toggle="tooltip"
                       data-bs-placement="top" th:title="#{tooltip.icon.edit}">edit</i>
                </a>
                <a href="#" class="icon-link" th:href="@{teachers/__${teacher.id}__/delete}">
                    <i class="material-icons delete-icon"  data-bs-toggle="tooltip"
                       data-bs-placement="top" th:title="#{tooltip.icon.delete}">delete</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <button sec:authorize="hasAuthority('ADMIN')" th:text="#{label.button.add}" type="button" class="btn btn-primary"
            data-bs-toggle="modal" data-bs-target="#addTeacherModal">
        Add teacher
    </button>
</div>

<!-- Add teacher modal -->
<div class="modal fade" id="addTeacherModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 th:text="#{modal.title.teacher.add}" class="modal-title" id="staticBackdropLabel">Add teacher</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" id="addTeacherForm" th:action="@{/teachers}" th:object="${addTeacherDraft}"
                      method="post">
                    <div class="mb-3">
                        <label th:for="lastName" th:text="#{label.input.lastname}" class="form-label">Last name</label>
                        <input id="lastName" required minlength="2" class="form-control" th:field="*{lastName}"
                               type="text" name="lastName">
                    </div>
                    <div class="mb-3">
                        <label th:for="firstName" th:text="#{label.input.firstname}" class="form-lable">First
                            name</label>
                        <input id="firstName" required minlength="2" class="form-control" th:field="*{firstName}"
                               type="text" name="firstName">
                    </div>
                    <div class="mb-3">
                        <label th:for="patronymic" th:text="#{label.input.patronymic}"
                               class="form-lable">Patronymic</label>
                        <input id="patronymic" class="form-control" th:field="*{patronymic}" type="text"
                               name="patronymic">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" form="addTeacherForm" th:text="#{label.button.add}">
                    Add teacher
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        th:text="#{label.button.cancel}">Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Edit teacher modal -->
<div th:if="${editTeacherDraft}" class="modal fade" id="editTeacherModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 th:text="#{modal.title.teacher.edit}" class="modal-title" id="staticBackdropLabel">Edit teacher</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" id="editTeacherForm" th:action="@{/teachers/__${editTeacherDraft.id}__}" th:object="${editTeacherDraft}"
                      method="post">
                    <div class="mb-3">
                        <label th:for="lastName" th:text="#{label.input.lastname}" class="form-label">Last name</label>
                        <input id="lastName" required minlength="2" class="form-control" th:field="*{lastName}"
                               type="text" name="lastName">
                    </div>
                    <div class="mb-3">
                        <label th:for="firstName" th:text="#{label.input.firstname}" class="form-lable">First
                            name</label>
                        <input id="firstName" required minlength="2" class="form-control" th:field="*{firstName}"
                               type="text" name="firstName">
                    </div>
                    <div class="mb-3">
                        <label th:for="patronymic" th:text="#{label.input.patronymic}"
                               class="form-lable">Patronymic</label>
                        <input id="patronymic" class="form-control" th:field="*{patronymic}" type="text"
                               name="patronymic">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" form="editTeacherForm" th:text="#{label.button.edit}">
                    Edit teacher
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        th:text="#{label.button.cancel}">Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Delete teacher modal -->
<div th:if="${teacherDeleteCandidate}" class="modal fade" id="deleteTeacherModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 th:text="#{modal.title.teacher.delete}" class="modal-title" id="staticBackdropLabel">Delete teacher</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" id="deleteTeacherForm" th:action="@{/teachers/__${teacherDeleteCandidate.id}__/delete/confirm}" th:object="${teacherDeleteCandidate}"
                      method="get">
                    <div class="mb-3">
                        <label th:for="lastName" th:text="#{label.input.lastname}" class="form-label">Last name</label>
                        <input id="lastName" required minlength="2" class="form-control" th:field="*{lastName}"
                               type="text" name="lastName" readonly>
                    </div>
                    <div class="mb-3">
                        <label th:for="firstName" th:text="#{label.input.firstname}" class="form-lable">First
                            name</label>
                        <input id="firstName" required minlength="2" class="form-control" th:field="*{firstName}"
                               type="text" name="firstName" readonly>
                    </div>
                    <div class="mb-3">
                        <label th:for="patronymic" th:text="#{label.input.patronymic}"
                               class="form-lable">Patronymic</label>
                        <input id="patronymic" class="form-control" th:field="*{patronymic}" type="text"
                               name="patronymic" readonly>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="submit" form="deleteTeacherForm" th:text="#{label.button.delete}">
                    Delete teacher
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        th:text="#{label.button.cancel}">Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function() {
        toggleModal('editTeacherModal')
        toggleModal('deleteTeacherModal')
    };

    function toggleModal(id) {
        var modalDoc = document.getElementById(id);
        if (modalDoc != null) {
            var modal = new bootstrap.Modal(modalDoc, {
                keyboard: false
            });
            modal.toggle();
        }
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>

</body>
</html>
