<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bu teachers</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<nav th:replace="fragments/general::navbar"></nav>

<div th:replace="fragments/general::#errorModal"></div>

<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th th:text="#{teacher.name}">Teacher name</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher : ${teachers}">
            <td th:text="${teacher.getFullName()}">Full name</td>
            <td>
                <a th:alt="#{label.href.edit}" th:href="@{teachers/__${teacher.id}__/draft}" id="editButton">✏️</a>
            </td>
            <td>
                <a th:alt="#{label.href.delete}" th:href="@{teachers/__${teacher.id}__/delete}">❌</a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td>
                <button th:text="#{label.button.add}" class="btn btn-primary" id="insertButton">Add teacher</button>
            </td>
            <td></td>
            <td></td>
        </tr>
        </tfoot>
    </table>
</div>

<div th:if="${editTeacherDraft}" id="editModal" class="modal" style="display: block">
    <div class="modal-content">
        <form action="#" th:action="@{/teachers/__${editTeacherDraft.id}__}" th:object="${editTeacherDraft}" method="post">
            <span class="close" id="closeEditSpan">&times;</span>
            <div class="form-group">
                <label th:for="lastName" th:text="#{label.input.lastname}">Last name</label>
                <input id="lastName" required=true minlength="2" class="form-control" th:field="*{lastName}" type="text"
                       name="lastName">
            </div>
            <div class="form-group">
                <label th:for="firstName" th:text="#{label.input.firstname}">First name</label>
                <input id="firstName" required=true minlength="2" class="form-control" th:field="*{firstName}"
                       type="text" name="firstName">
            </div>
            <div class="form-group">
                <label th:for="patronymic" th:text="#{label.input.patronymic}">Patronymic</label>
                <input id="patronymic" class="form-control" th:field="*{patronymic}" type="text" name="patronymic">
            </div>
            <button class="btn btn-primary" type="submit" th:text="#{label.button.save}">Save teacher</button>
            <button class="btn btn-secondary" type="button" th:text="#{label.button.cancel}" id="closeEditButton">Cancel</button>
        </form>
    </div>
</div>

<div id="insertModal" class="modal">
    <div class="modal-content">
        <form action="#" th:action="@{/teachers}" th:object="${addTeacherDraft}" method="post">
            <span class="close" id="closeInsertSpan">&times;</span>
            <div class="form-group">
                <label th:for="lastName" th:text="#{label.input.lastname}">Last name</label>
                <input id="lastName" required=true minlength="2" class="form-control" th:field="*{lastName}" type="text"
                       name="lastName">
            </div>
            <div class="form-group">
                <label th:for="firstName" th:text="#{label.input.firstname}">First name</label>
                <input id="firstName" required=true minlength="2" class="form-control" th:field="*{firstName}"
                       type="text" name="firstName">
            </div>
            <div class="form-group">
                <label th:for="patronymic" th:text="#{label.input.patronymic}">Patronymic</label>
                <input id="patronymic" class="form-control" th:field="*{patronymic}" type="text" name="patronymic">
            </div>
            <button class="btn btn-primary" type="submit" th:text="#{label.button.add}">Add teacher</button>
            <button class="btn btn-secondary" type="button" th:text="#{label.button.cancel}" id="closeInsertButton">Cancel</button>
        </form>
    </div>
</div>

<footer th:replace="fragments/general::footer"></footer>

<script type="text/javascript" th:src="@{/js/insert-modal.js}"></script>
<script type="text/javascript" th:src="@{/js/edit-modal.js}"></script>

</body>
</html>
